<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?cocktail,drink);">
  <div class="container">
    <h1>Our Cocktails <strong>put the kick</strong> in <strong>kick ass</strong>!</h1>
    <p>Change your life and make a <span id="banner-typed-text"></span> at one of our bars around the world.</p>
    <%= link_to 'Make now', new_cocktail_path, class: "btn btn-flat" %>
  </div>
</div>
<!--
    <p>
      <span id="banner-typed-text"></span>
    </p>
    --->
