<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?movie,poster);">
  <div class="container">
    <h1>Pop Culture <strong>Cocktails</strong> from around <strong>the world</strong>!</h1>
    <h2>Make your nightcap a little more interesting with <span id="banner-typed-text"></span></h2>
    <div class="form-group">
      <p>Or add your own for the community to vote on 😉</p>
      <%= link_to 'Make now', new_cocktail_path, class: "btn btn-flat" %>
    </div>
  </div>
</div>
<!--
    <p>
      <span id="banner-typed-text"></span>
    </p>
    --->
