<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/blamb888" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/ripley_the_tokyo_shiba/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/brandon.lamb.1987/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/starry_b_eats" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/brandon-l-17102710/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at <a href="https://www.lewagon.com/tokyo" target="_blank">Le Wagon</a>
  </div>
</div>
